.b-sidebar-razdel{width: 350px; margin-top: 0px;}
.b-menu-razdel a{
	display: block;
	width: 270px;
	height: 33px;
	padding: 10px 0 0 20px;
	background: #272727;
	margin-bottom: 10px;
	color: #fff;
	font: Bold 18px "Tahoma";
	text-decoration: none;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.75);
	}
.b-menu-razdel a:hover, .b-menu-razdel a.active{
	background: #010101;
}

.b-menu-razdel .pen{
	background-image: url(/img/cabinet/pen.png);
	width: 21px;
	height: 24px;
	position: absolute;
	margin: -1px 0 0 240px;
}

.b-sidebar-razdel .header{
	border: 1px solid #d2d2d2;
	width: 258px;
	padding: 5px 15px;
	text-align: center;
	margin-bottom: 20px;
	font: 21px "Tahoma";
	color: #272727;
}

.b-sidebar-razdel .header b{
	font: Bold 24px "Tahoma";
	color: #ac0403;
}

.b-sidebar-razdel .total_summa{
	width: 260px;
	padding: 5px 15px;
	font: 17px "Tahoma";
	text-align: center;
	color: #272727;
	margin: 20px 0;
}

.b-sidebar-razdel .total_summa span{
	color: #ac0403;
}

.b-sidebar-razdel .total_summa span b{
	color: #ac0403;
	font: bold 20px "Tahoma";
}


