.b-raffle {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
.b-raffle .pict {
    border: 2px solid #00BBF3;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    width: 270px;	
    height: 334px;
    line-height: 0;
    position: relative;
    text-align: center;
    vertical-align: top;

}
.b-raffle .pict .image {
    display: table-cell;
	vertical-align: middle;
	text-align: center;
    width: 270px;
    height: 300px;
}
.b-raffle .pict .image img {
	max-width: 270px;
	max-height: 300px;
}
.b-raffle .pict .name {
    display: block;
    height: 30px;
	font: 13.5px/30px "Trebuchet MS";
	color: #006388;
    overflow: hidden;
    text-decoration: none;
}
.b-raffle .pict .name:hover {
    text-decoration: underline;
}
.b-raffle .details {
    display: inline-block;
    padding: 0px;
    vertical-align: top;
    width: 572px;
}
.b-raffle .list {
	width: 890px;
    margin: 11px 0 0;
}
.b-raffle .list > li {
    margin: 0 0 21px;
}
.b-raffle .list .pict {
    margin-right: 21px;
}

.b-raffle .notfound {
    margin: 30px;
	color: #a6a6a6;
}

.b-raffle .details .det-lines {
	background: #f0f0f0;
	border-radius: 5px;
	padding: 12px 0 12px 10px;
	margin-bottom: 13px;
}

.b-raffle .details .det-lines .det-block {
	display: inline-block;
	vertical-align: middle;
}

.b-raffle .details .det-lines .det-block.date {
	font: 14px "Trebuchet MS";
	color: #373737;
	width: 158px;
	padding-left: 7px;
}

.b-raffle .details .det-lines .det-block.time {
	font: 23px "Trebuchet MS";
	color: #2b2a2a;
	padding: 2px 0px;
	width: 110px;
	text-align: center;
	margin-left: 10px;
	border-radius: 3px;	
	background: #fff;
	border: 1px solid #c6c6c6;
}

.b-raffle .details .det-lines .det-block.time .green {
	font: 19px "impactreg";
	color: #288e00;
	text-transform: uppercase;
}
.b-raffle .details .det-lines .det-block.time .blue {
	font: 19px "impactreg";
	color: #10739f;
	text-transform: uppercase;
}
.b-raffle .details .det-lines .det-block.players {
	width: 125px;
	font: 15px "Trebuchet MS";
	color: #363636;
	margin-left: 10px;
}

.b-raffle .details .det-lines .det-block.players b {
	font: Bold 15px "Trebuchet MS";
	color: #363636;
}

.b-raffle .details .det-lines .det-block.button {
	background: url(/img/btn-podrobnee.png);
	text-align: center;
	width: 102px;
	height: 32px;
	text-indent: -9999px;
	margin-left: 10px;
	
}
.b-raffle .details .det-lines .det-block.button:hover {
	opacity: 0.9;
}

.b-raffle .details .det-lines.last {
	background: #10739f;
}

.b-raffle .details .det-lines.last .det-block.date,
.b-raffle .details .det-lines.last .det-block.players, 
.b-raffle .details .det-lines.last .det-block.players b {
	color: #fff;
	font-size: 13px;
}
.b-raffle .details .det-lines.last .det-block.button {
	background: url(/img/btn-podrobnee.png) 0 -32px;
}