.b-banners-list{
	padding: 0px 0px 30px;
}
.filtr_catalog{width: 220px; font: 14px "Arial"; color: #4c4c4c;}
.filtr_catalog tr td{padding: 4px 0px 4px; font: 14px "Arial"; color: #4c4c4c;}
.filtr_catalog tr td .header{font: Bold 12px "Arial"; color: #0087b4; display: block;}
.filtr_catalog tr td span.header_ot{width: 20px; padding-left: 0px; text-align: right; display: inline-block;}
.filtr_catalog tr td span.header_do{width: 20px; padding-left: 30px; text-align: right; display: inline-block;}
.filtr_catalog tr td span.header_two{width:70px;display: inline-block; }
.filtr_catalog tr td span.header_show{width:147px; padding-right: 0px;display: inline-block;}
.filtr_catalog tr td span.header_show_ot{width: 20px; padding-left: 12px; text-align: right; display: inline-block;}
.filtr_catalog tr td span.header_show_do{width: 20px; padding-left: 10px; text-align: right; display: inline-block;}
.filtr_catalog tr td span.header_show_input{display: inline-block; width: 44px;}
.filtr_catalog tr td span div{ height: 40px; display: table-cell; vertical-align: middle;}

.filtr_catalog tr.tr-checkbox{}
.filtr_catalog tr.dop-form{display: none;}
.filtr_catalog tr .w-checkbox-label{width: 200px; margin-left: 3px; display: inline-block; vertical-align: top; cursor: pointer;}

.filtr_catalog tr .dp-text{width: 100%; text-align: center; color: #575757; font: 12px "Arial";}
.filtr_catalog tr .dp-text a{width: 100%; text-transform: uppercase; text-decoration: none; text-align: center; color: #016d91; font: 12px "Arial"; border-bottom: 1px dotted #016d91; padding-bottom: 2px;}
.filtr_catalog tr .dp-text a:hover{border-bottom: none;}
.filtr_catalog tr .dp-text .arr{width: 8px; height: 9px; display: inline-block;}
.filtr_catalog tr .dp-text .arr.top{background-image: url(/img/catalog/arr_top.png); }
.filtr_catalog tr .dp-text .arr.bot{background-image: url(/img/catalog/arr_bot.png); }
.filtr_catalog tr td input[type="text"]{width: 34px; height: 17px; text-align: center; color: #898989; padding: 5px 2px; margin: 0px 0px 0px 5px;  border: 1px solid #9f9f9f;background-color: #f7f7f7;}

.filtr_catalog tr td .f-select select{width: 220px;}
.filtr_catalog tr td .f-select > div{
	border: 1px solid #9f9f9f; 
	background: #f7f7f7;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.filtr_catalog tr td .f-select .ui-selectmenu{
	padding: 1px 0 5px 0;
	text-decoration: none;
}
.ui-selectmenu-menu ul{
	background: none repeat scroll 0 0 #F7F7F7;
	box-shadow: none;
    border: 1px solid #9F9F9F;
	border-top: none;
	left: -1px;
	font: 14px/25px "Arial";
	color: #4C4C4C;
}
.filtr_catalog tr td .f-select .ui-selectmenu-icon{  
	background: url("/img/catalog/arr.png");
    height: 8px;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 10px;
}
.filtr_catalog tr td .f-select .ui-selectmenu-menu li a, 
.filtr_catalog tr td .f-select .ui-selectmenu-status{  
	font: 14px/25px "Arial"; 
	color: #4c4c4c; 
}
.filtr_catalog tr td .w-checkbox.filtr.pad{
	padding-left: 8px;
}
.filtr_catalog tr td .w-checkbox.filtr .checker span{
	background: url(/img/catalog/check.png);
	height: 14px;
}
.filtr_catalog tr td .w-checkbox.filtr .checker span.checked{
	background: url(/img/catalog/check.png);
	background-position: 0 -14px;
}

.filtr_catalog tr td .check-select{
    outline: 0 none;
    white-space: nowrap;
	padding: 1px 0 1px 0px;
	color: #4C4C4C;
    font: 14px/25px "Arial";
    margin: 0;
	width: 222px;	
}

.filtr_catalog tr td .check-header{
    outline: 0 none;
    white-space: nowrap;
	cursor: pointer;
	padding: 0px 0 0px 8px;
	color: #4C4C4C;
    font: 14px/25px "Arial";
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #9F9F9F;
    margin: 0;
	position: relative;
	width: 212px;	
}

.filtr_catalog tr td .check-header .check-icon{
    background: url("/img/catalog/arr.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 8px;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 10px;	
}

.filtr_catalog tr td .check-body{
	background: none repeat scroll 0 0 #F7F7F7;
	display: none;
	border: 1px solid #9F9F9F;
	border-top: none;
}
.filtr_catalog tr td .check-body.active{
	display: block;
}
.filtr_catalog tr td .check-item{

}
.filtr_catalog tr td .cena-price-td input[type="text"] {
  width: 191px !important;
}
.filtr_catalog tr td .cena-price-td .header_show_ot, .filtr_catalog tr td .cena-price-td .header_show_do {
  padding-left: 0px;
  text-align: left;
}
.filtr_catalog tr td .check-item:hover{
    text-decoration: none;
	background-color: #9f9f9f;
	color: #000;
}
#filtr_content {
	padding-bottom: 30px;
}
#filtr_content .btn.podbor_submit{
	background: url(/img/catalog/podbor_btn.png);
	width: 119px;
	height: 34px;
	margin-top: 10px;
}

#filtr_content .btn.podbor_submit:hover{
	background-position: 0 -34px;
}

#filtr_content .podbor_clear{
	font: 12px "Arial";
	color: #016d91;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted #016d91;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	padding-bottom: 3px;
}

#filtr_content .podbor_clear:hover{
	border-bottom: 1px dotted #fff;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background: #bfbfbf;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .2em;
	width: 206px;
	margin-left: 7px;
	background: #bfbfbf;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -1.6em;
	margin-left: -.6em;
	background: url(/img/catalog/slider_icon.png);
	width: 16px;
	height: 25px;
}
.ui-slider-horizontal .ui-slider-range {
	top: -2px;
	height: 100%;
	border-top: 2px solid #bfbfbf;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}


#category-tabs .category-tabs-header {
    width: 225px;
	text-align: center;
	margin: 15px 0 22px;
}
#category-tabs .category-tabs-header a {
	color: #0087b4;
	font: 16.67px "Trebuchet MS";
	text-decoration: none;
	border-bottom: 1px dotted #0087b4;
}
#category-tabs .category-tabs-header li {
	display: block;
}
#category-tabs .category-tabs-header li.ui-tabs-selected.ui-state-active {
	display: none;
}
