
#header .nav-search {
    display: inline-block;
    margin: 7px 0 0 6px;
    vertical-align: top;
}
#header .nav {
    height: 29px;
    margin: 0 0 11px -24px;
}
#header .nav li {
    float: left;
    letter-spacing: normal;
    word-spacing: normal;
}
#header .nav a {
    background: url("/img/h-nav.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
}
#header .nav li:first-child a {
    width: 122px;
}
#header .nav li + li a {
    background-position: -122px 0;
    width: 111px;
}
#header .nav li + li + li a {
    background-position: -233px 0;
    width: 124px;
}
#header .nav li + li + li + li a {
    background-position: -357px 0;
    width: 119px;
}
#header .nav li + li + li + li + li a {
    background-position: 100% 0;
    width: 131px;
}
#header .nav li:first-child a:hover {
    background-position: 0 -29px;
}
#header .nav li + li a:hover {
    background-position: -122px -29px;
}
#header .nav li + li + li a:hover {
    background-position: -233px -29px;
}
#header .nav li + li + li + li a:hover {
    background-position: -357px -29px;
}
#header .nav li + li + li + li + li a:hover {
    background-position: 100% -29px;
}
#header .nav li.active:first-child a {
    background-position: 0 -58px;
}
#header .nav li + li.active a {
    background-position: -122px -58px;
}
#header .nav li + li + li.active a {
    background-position: -233px -58px;
}
#header .nav li + li + li + li.active a {
    background-position: -357px -58px;
}
#header .nav li + li + li + li + li.active a {
    background-position: 100% -58px;
}
#header .search {
    background: url("/img/sb-bg.png") repeat-x scroll 0 0 #006994;
    border-radius: 4px 4px 4px 4px;
    height: 89px;
    line-height: 1;
    position: relative;
    width: 583px;
}
#header .search a, #header .search span, #header .search label {
    color: #FFFFFF;
    font-size: 12px;
    vertical-align: middle;
}
#header .search span {
    cursor: pointer;
    text-decoration: underline;
}
#header .search span:hover {
    text-decoration: none;
}
#header .search input[type="text"], #header .search input[type="password"] {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    color: #979797;
    font-size: 16px;
    height: 20px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    width: 100%;
}
#header .search input[type="radio"], #header .search input[type="checkbox"] {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#header .search input[type="submit"] {
    border: 0 none;
    cursor: pointer;
    height: 36px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 99px;
}
#header .search .field {
    background: url("/img/search.png") repeat-x scroll 0 0 transparent;
    height: 24px;
    padding: 4px 12px 0;
    position: relative;
}
#header .search .field .cl, #header .search .field .cr {
    background: url("/img/search.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    position: absolute;
    top: 0;
    width: 6px;
}
#header .search .field .cl {
    background-position: 0 -28px;
    left: 0;
}
#header .search .field .cr {
    background-position: 0 -56px;
    right: 0;
}
#search-form {
    padding: 28px 0 0 20px;
}
#search-form ul {
    margin: 6px 0 0 3px;
}
#search-form li {
    display: inline-block;
    vertical-align: top;
    width: 226px;
}
#search-form li + li {
    margin-right: 19px;
    width: auto;
}
#search-form .field {
    width: 408px;
}
#search-form input[type="submit"] {
    background: url("/img/btn-search.png") no-repeat scroll 0 0 transparent;
    left: 468px;
    top: 25px;
}
#search-form input[type="submit"]:hover {
    background-position: 0 -36px;
}
#search-form label {
    margin: 0 0 0 6px;
}
.btn-link {
	display: inline-block;
	width: 70px;
    margin-right: 10px;
}
#search-form a, #search-form span {

}
#login-form {
    display: none;
    padding: 6px 0 0 20px;
}
#login-form ul {
    display: inline-block;
}
#login-form ul:first-child {
    margin-right: 20px;
}
#login-form li:first-child {
    margin-bottom: 6px;
}
#login-form li + li {
    margin-bottom: 6px;
}
#login-form li:first-child label {
    margin-left: 3px;
    text-transform: uppercase;
}
#login-form .field {
    height: 23px !important;
    padding-top: 5px !important;
    width: 182px;
}
#login-form li + li + li span {
    margin-left: 3px;
}
#login-form li + li + li label {
    margin-left: 9px;
}
#login-form input[type="submit"] {
    background: url("/img/btn-search.png") no-repeat scroll -99px 0 transparent;
    left: 468px;
    top: 25px;
}
#login-form input[type="submit"]:hover {
    background-position: -99px -36px;
}