.form {
    background: none repeat scroll 0 0 #e7e7e7;
    margin-bottom: 4.5em;
    padding: 1.2em 0 0.5em 120px;
}

.form label {
	cursor: pointer;
}

.form.registration label.poselok {
    width: 150px;
}

.form.registration label.apartment {
    width: 88px;
}

.form.registration .width127 {
    width: 127px;
	font-size: 14px;
}

.form.registration .width157 {
    width: 157px;
}

.form.registration .width140 {
    width: 140px;
}

.form.registration .width141 {
    width: 141px;
}

.form.registration .width73 {
    width: 59px;
}

.form.registration .line.cmt {
	display: inline-block;
	vertical-align: top;
}

.form.registration .line.cmt .l-col {
    float: none;
	margin: 0px 0 15px 0;
	text-align: left;
}

.form.registration .line.cmt {
    margin: 0;
}

.form.registration .line.cmt .w-textarea {
	width: 242px;
}

.w-textarea textarea {
    height: 80px;
    overflow: auto;
    resize: none;
    width: 242px;
}

.w-input input {
    width: 496px;
}

.form.registration .line.cmt:nth-child(1) .w-textarea {
	margin-right: 9px;
}


.form.registration label.floor {
    width: 81px;
}

div.checker, div.checker input, div.checker span {
    height: 14px;
    width: 15px;
	background: url("/img/catalog/check.png");
}

div.checker span.checked {
	 background-position: 0 -14px;
}
div.checker span {
    background-position: 0 0;
}

.position-left,
.position-right {
	display: inline-block;
	vertical-align: top;
	width: 554px;
}
.position-right {
	width: 180px;
}

.table-tabs-content {
	width: 831px;
	color: #00719d;
	font: 14px "Trebuchet MS";
}

.table-tabs-content td {
	border: 1px solid #888;
	padding: 5px;
	text-align: center;
}
.table-tabs-content tr.header td {
	font-weight: bold;
}
.table-tabs-content td.name {
	text-align: left;
	width: 280px;
}
.table-tabs-content td.padding-align {
	text-align: left;
	padding-left: 100px;
}
.table-tabs-content tr.bottom td {
	font-weight: bold;
	border: none;
	text-transform: uppercase;
}
.table-tabs-content tr.bottom.pb td {
	padding-top: 20px;
}

.ib {
	display: inline-block;
	vertical-align: top;
	margin:19px 0 0 15px !important;
}

#zakaz_product_table {
	background: #e7e7e7;
	padding: 20px;	
}